<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.mapper.AppealToTypeOneMapper">

    <resultMap id="BaseResultMap" type="com.kg.pojo.AppealToTypeOne">
            <result property="appealId" column="appeal_id" jdbcType="VARCHAR"/>
            <result property="typeOneId" column="type_one_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        appeal_id,type_one_id
    </sql>
</mapper>
