<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.mapper.CollaborativeToLocationMapper">

    <resultMap id="BaseResultMap" type="com.kg.pojo.CollaborativeToLocation">
            <result property="networkId" column="network_id" jdbcType="VARCHAR"/>
            <result property="locationId" column="location_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        network_id,location_id
    </sql>
</mapper>
