<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.mapper.EntityMapper">

    <resultMap id="BaseResultMap" type="com.kg.pojo.Entity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="object" column="object" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subject,object
    </sql>
</mapper>
